.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background: transparent;
    position: absolute;
    width: 100%;
    z-index: 10;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    background-image: url("../../assets/z-logo.jpeg");
    background-size: cover;
    background-position: center;
  }
  
  .brand-text {
    font-size: 1rem;
    color: #fafafa;
    font-weight: bold;
  }
  
  .navbar-menu {
    display: flex;
    gap: 2rem;
    justify-content: flex-end; 
  }
  
  .navbar-menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .navbar-menu a.active {
    color: #033ae0;
  }
  
  .navbar-menu a:hover {
    color: #033ae0;
  }
  
  