.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background: transparent;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  width: 20px;
  height: 20px;
  background-image: url("../../assets/k-logo.png");
  background-size: cover;
  background-position: center;
}

.brand-text {
  font-size: 1.5rem;
  color: #fafafa;
  font-weight: bold;
  animation: glow 1.5s infinite alternate;
}

.navbar-menu {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}

.navbar-menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  transition: color 0.3s ease;
  animation: glow 1.5s infinite alternate;
}

/* .navbar-menu a.active {
  color: #03b4e0;
}

.navbar-menu a:hover {
  color: #dce003;
} */

@keyframes glow {
  from {
    text-shadow: 0 0 2px #fff, 0 0 6px #ff00ff;
  }
  to {
    text-shadow: 0 0 4px #fff, 0 0 12px #ff00ff;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem 2rem;
  }

  .navbar-menu {
    flex-direction: column;
    gap: 1rem;
  }
}