.footer {
  background: #333;
  color: white;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
display: flex;
flex-direction: row;
  gap: 10rem;
}
.footer-section h4 {
  font-size: 1rem;
  margin: 10px 0px;
}

.footer-section p {
  color: #ccc;
  line-height: 1.2;
  font-size: smaller;
  width: 400px;
  padding-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  width: 150px
}

.footer-section ul li {
  font-size: smaller;
  margin-bottom: 0.25rem; /* Decreased margin-bottom */
}

.footer-section ul li a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: smaller;
}

.footer-section ul li a:hover {
  color: white;
}

.footer-bottom {
  display: flex;
  padding: 1rem 0;
  background: #222;
  text-align: center;
  flex-direction: row; /* Corrected flex direction */
  justify-content: space-around;
}

.link-button {
  background: none;
  border: none;
  color: #ccc;
  text-decoration: none;
  cursor: pointer;
  font-size: smaller;
  transition: color 0.3s ease;
}

.link-button:hover {
  color: white;
}

.social-icon {
  background: none;
  border: none;
  color: #ccc;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: white;
}
.social-links {
  display: flex;
  gap: 1rem; /* Add space between social icons */
}
.footer-bottom p {
  text-align: center; /* Center the text within the paragraph */
  margin: 0; /* Remove default margin */
}