.footer {
  background: #333;
  color: white;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20rem;
}

.footer-section h4 {
  font-size: 1rem;
  margin: 10px 0px;
}

.footer-section p {
  color: #ccc;
  line-height: 1.2;
  font-size: smaller;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  font-size: smaller;
  margin-bottom: 0.25rem; /* Decreased margin-bottom */
}

.footer-section ul li a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: smaller;
}

.footer-section ul li a:hover {
  color: white;
}

.footer-bottom {
  display: flex;
  padding: 1rem 0;
  background: #222;
  text-align: center;
  flex-direction: column; /* Corrected flex direction */
  justify-content: space-around;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem; /* Adjusted gap */
  padding: 0.5rem 0; /* Adjusted padding */
}

.social-icon {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: white;
}